<div class="background"></div>
<div class="standaardmenu">
  <a [routerLink]="['/livestream']">
    <h1 class="live">LIVESTREAM</h1>
  </a>
  <a [routerLink]="['/no-webgl']">
    <h1 id="active">SHOWROOM</h1>
  </a>
  <a [routerLink]="['/timetable']">
    <h1>TIMETABLE</h1>
  </a>
  <a [routerLink]="['/faq']">
    <h1>FAQ</h1>
  </a>
  <a [routerLink]="['/hub']">
    <h1>3D-VERSIE</h1>
  </a>
</div>
<div class="wrapper">
  <div class="upper-nav">
    <h3 class="hoeveelheid">1/X</h3>
  </div>
</div>
<img class="left" src="../../assets/images/arrow.svg">
<img class="right" src="../../assets/images/arrow.svg">
<div class="pop-up">
  <img class="logobackground" src="../../assets/images/logobackground.png">
  <div class="projecten"></div>
  <div class="bottom-menu">
    <a class="web">
      <h5>Web</h5>
    </a>
    <a class="mobile">
      <h5>Mobile Appliance</h5>
    </a>
    <a class="ar">
      <h5>Alternate Reality</h5>
    </a>
    <a class="motion">
      <h5>Interactive Motion</h5>
    </a>
    <a class="digital-making">
      <h5>Digital Making</h5>
    </a>
  </div>
</div>
