body {
  margin: 0;
  height: 21000px;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid grey;
}


* {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

.bg_img {
  background-image: url("../assets/images/bg.png");
  background-position: center;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  // z-index: -1;
}

.innerbody {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

#beginscroll {
  position: absolute;
  top: 65vh;
}

/*-------------------------------------
  ---------------- LOGO -----------------
  -------------------------------------*/

#logoDiv {
  margin-top: 5vh;
  overflow: hidden;
  padding: 5vh;
  box-sizing: border-box;
  padding-bottom: 3vh;
}

#logo {
  width: 22vw;
  max-width: 400px;
  margin: auto;
}

/*-------------------------------------
  -------------- CONTENT ----------------
  -------------------------------------*/

#contentDiv {
  width: 100vw;
}

h2 {
  font-size: 1.8vw;
  font-weight: 500;
  width: 100%;
  margin: auto;
  text-align: center;
  color: white;
  font-weight: 300;
}



a {
  color: black;
  text-decoration: none;
}

/*-------------------------------------
  --------------- FOOTER ----------------
  -------------------------------------*/

footer {
  position: absolute;
  top: 95vh;
}

.copyright {
  text-align: center;
  margin-bottom: 10px;
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  color: white;
}

.copyright a {
  color: white;
  border-bottom: 1px solid white;
}


#tsparticles {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  pointer-events: none;
}


// https://codemyui.com/scroll-icon-animation/

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 74vh;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}


@keyframes scroll {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0;
    transform: translateY(46px);
  }

}

.skip {
  width: 12%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 88vh;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px;
}

.no-webgl {
  width: 14%;
  top: 15px;
  left: 8.4vw;
}
