<nav>
  <div class="iconGroup" (click)="showOrHideMenu()">
    <div class="icon"></div>
    <div class="icon"></div>
    <div class="icon"></div>
  </div>
  <div *ngIf="isActive" class="navigation">
    <ul id="navList">
      <li [className]="currentPage == 'Home' ? 'current' : 'normal'">
        <a [routerLink]="['/hub']">Home</a>
      </li>
      <li [className]="currentPage == 'Livestream' ? 'current' : 'normal'">
        <a [routerLink]="['/hub']">Livestream</a>
      </li>
      <li [className]="currentPage == 'FAQ' ? 'current' : 'normal'">
        <a [routerLink]="['/hub']">FAQ</a>
      </li>
      <li [className]="currentPage == 'ShowcaseRoom' ? 'current' : 'normal'">
        <a [routerLink]="['/hub']">Showcase Room</a>
      </li>
    </ul>
  </div>
</nav>
