.navigation {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.iconGroup {
  z-index: 3;
  position: fixed;
  right: 5%;
  top: 3%;
  cursor: pointer;
}

.iconGroup2 {
  z-index: 3;
  position: fixed;
  right: 7%;
  top: 4%;
  cursor: pointer;
}

.icon {
  width: 35px;
  height: 2px;
  background-color: white;
  margin: 8px 0;
}

#navList {
  text-align: center;
  margin-top: 30vh;
}

#navList li {
  text-transform: uppercase;
  position: fixed;
  left: 0;
  right: 0;
  color: white;
  list-style: none;
  font-size: 16pt;
  font-weight: bold;
}

#navList li:nth-child(2) {
  margin-top: 15vh;
}

#navList li:nth-child(3) {
  margin-top: 30vh;
}

#navList li:nth-child(4) {
  margin-top: 45vh;
}

#navList li:last-of-type {
  margin-bottom: 0;
}


#navList li a {
  color: white;
  text-decoration: none;
}

.current {
  padding-bottom: 1px;
  border-bottom: solid 3px white;
}
