<nav>
  <div class="iconGroup" (click)="showOrHideMenu()">
    <div class="icon"></div>
    <div class="icon"></div>
    <div class="icon"></div>
  </div>
  <div *ngIf="isActive" class="navigation">
    <ul id="navList">
      <li [className]="currentPage == 'Livestream' ? 'current' : 'normal'">
        <a [routerLink]="['/livestream']">Livestream</a>
      </li>
      <li [className]="currentPage == 'Showcase Room' ? 'current' : 'normal'">
        <a [routerLink]="['/showcase']">Showcase Room</a>
      </li>
      <li [className]="currentPage == 'FAQ' ? 'current' : 'normal'">
        <a [routerLink]="['/faq']">FAQ</a>
      </li>
      <li [className]="currentPage == 'Showroom' ? 'current' : 'normal'">
        <a [routerLink]="['/showroom']">Showroom</a>
      </li>
    </ul>
  </div>
</nav>
