/*https://www.digitalocean.com/community/tutorials/css-scrollbars*/

html,
body {
  overscroll-behavior: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', 'sans-serif';
}

canvas {
  position: fixed;
  top: 0;
  z-index: -1;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid grey;
}

//----------------------------------//
//----------Showroom CSS------------//
//----------------------------------//

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 90%;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
  max-width: 400px;

  //IMAGE
  .card-image-container {
    height: 120px;
    width: 100%;
    overflow: hidden;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    .card-image {
      width: 100%;
      object-fit: contain;
      margin-top: -50px;
    }
  }

  //BODY
  .card-body {
    box-sizing: border-box;
    padding: 5px 10px 8px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    color: #B99CE0;

    //TITLE + SUBTITLE (LEFT)
    .card-body-info {
      align-self: center;

      .card-title {
        color: #00B9FF;
        font-size: 18px;
        font-weight: 800;
      }

      .card-subtitle {
        color: #B89BE0;
        font-size: 12px;
        font-weight: 600;
      }
    }

    //BUTTON (RIGHT)
    .card-body-more {
      align-self: center;
      justify-self: flex-end;
    }

    .arrow {
      margin-top: 5px;
    }
  }
}

//----------------------------------//
//---------Showroom Detail----------//
//----------------------------------//

.detailTitle {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 10px;
  color: white;
}

.detailSubtitle {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.card-body {
  text-align: left;
}


.mail {
  text-align: left;
  margin-left: 15px;
}

.cardDetail {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  background: none;
  padding-bottom: 20px;
  border-radius: 3px;
}

.mail #contact svg {
  stroke: #B89CE0;
  fill: #B89CE0;
  width: 24px;
  height: 20px;
  margin-right: 5px;
}

#contact {
  border: 2px #B89CE0 solid;
  border-radius: 3px;
  padding: 8px;
  color: #B89CE0;
  background-color: white;
  text-decoration: none;
}

//----------------------------------//
//---------Showroom NO-WEBGL----------//
//----------------------------------//

.pop-up img.coverphoto {
  border-radius:29px 29px 0px 0px;
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.pop-up h2 {
  padding-top: 30px;
  font-weight: bold;
  font-size: 35px;
  color: #766889;
  float: left;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.pop-up h2, h4, p {
  margin-left: 10%;
}

.pop-up p {
  margin-right: 10%;
}

.pop-up h3 {
  float: right;
  margin-top: 45px;
  margin-right: 10%;
  font-size: 20px;

}
.pop-up h4 {
  margin-top: 110px;
}
