<div class="background"></div>
<p id="linkTo2D" class="linkTo2D">Naar 3D-versie</p>
<div class="standaardmenu">
  <a [routerLink]="['/livestream']">
    <h1 class="live" id="active">LIVESTREAM</h1>
  </a>
  <a [routerLink]="['/no-webgl']">
    <h1>SHOWROOM</h1>
  </a>
  <a [routerLink]="['/timetable']">
    <h1>TIMETABLE</h1>
  </a>
  <a [routerLink]="['/faq']">
    <h1>FAQ</h1>
  </a>
</div>

<div class="pop-up livestreampu">

  <div class="livestreamiframe">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/xdzFzMn5OnE" allowfullscreen>
    </iframe>
  </div>
</div>
