//HEADER
.centerText {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 10px;

  .title {
    font-size: 25px;
    color: white;
    font-weight: 900;
    padding-top: 15px;
  }
}

//CLUSTER NAVIGATION
.clusters-container {
  display: flex;
  box-sizing: border-box;
  padding: 20px 15px 5px;
  justify-content: space-evenly;

  .cluster {
    letter-spacing: 1px;
    display: inline-block;
    color: white;
    font-size: 15px;
  }

  .cluster:hover {
    cursor: pointer;
  }

  .fade {
    opacity: 0.65;
  }

  .center {
    border-bottom: 2px #2FE6DE solid;
  }
}

//BACK BUTTON
.back {
  display: none;
  position: absolute;
  top: 30px;
  left: 15px;
  align-self: center;

  span .back-icon {
    stroke: white;
    stroke-width: 2px;
  }

  .back-text {
    display: inline-block;
    font-size: 16px;
    color: white;
    align-items: center;
    margin-left: 5px;
  }
}

a:hover {
  cursor: pointer;
}
