#showPopup{
    display:none;
}

 #css,
 #webgl {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
 }
 #webgl{
     z-index: 98;
 }

 #css {
   z-index: 99;
   pointer-events: none;
 }



