.faqCard {
  margin: 0;
  text-align: center;
  margin-left: 5%;
  width: 90%;
  margin-bottom: 5%;
}

.faqTitleCard {
  cursor: pointer;
  color: #B89CE0;
  padding: 5px;
  font-size: 10px;
  font-weight: 300;
  border-radius: 3px;
  background-color: white;
}

.faqTitleCardOpen {
  cursor: pointer;
  color: white;
  background-color: #B89CE0;
  padding: 5px;
  font-size: 10px;
  font-weight: 300;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.faqDescriptionCard {
  padding: 5px 15px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: white 1px solid;
  text-align: start;
  color: white;
}
