<p class="title">LIVESTREAM</p>

<iframe width="90%" height="300" src="https://www.youtube.com/embed/5qap5aO4i9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="90%" height="500" src="https://www.youtube.com/live_chat?is_popout=1&v=5qap5aO4i9A&embed_domain=localhost"></iframe>

<div id="timetable">
    <div class="timeslot">
        <input type="radio" id="livestream" name="timetable" value="Start Livestream" #livestream (change)="onChange(livestream.value)">
        <label for="livestream">Start Livestream</label>
        <span class="time">18:00</span>
        <p *ngIf="checkedInput == 'Start Livestream'">Om 18u00 gaat de Final Show van Multimedia & Creative technologies van start!</p><br>
    </div>

    <div class="timeslot">
        <input type="radio" id="mobile" name="timetable" value="Mobile Appliance" #mobile (change)="onChange(mobile.value)">
        <label for="mobile">Cluster Mobile Appliance</label>
        <span class="time">18:05</span>
        <p *ngIf="checkedInput == 'Mobile Appliance'">De projecten van de studenten Mobile Appliance worden geshowcased!</p><br>
    </div>

    <div class="timeslot">
        <input type="radio" id="reality" name="timetable" value="Alternate Reality" #reality (change)="onChange(reality.value)">
        <label for="reality">Cluster Alternate Reality</label>
        <span class="time">18:10</span>
        <p *ngIf="checkedInput == 'Alternate Reality'">De cluster Alternate Reality neemt ons mee naar de wereld van VR en AR.</p><br>
    </div>

    <div class="timeslot">
        <input type="radio" id="seads" name="timetable" value="SEADS" #seads (change)="onChange(seads.value)">
        <label for="seads">SEADS</label>
        <span class="time">18:15</span>
        <p *ngIf="checkedInput == 'SEADS'">Live vanuit Brugge nemen we een kijkje naar het werk van onze ehb-studenten bij SEADS (Space Ecologies Art and Design).</p><br>
    </div>

    <div class="timeslot">
        <input type="radio" id="web" name="timetable" value="Web" #web (change)="onChange(web.value)">
        <label for="web">Cluster Web</label>
        <span class="time">18:25</span>
        <p *ngIf="checkedInput == 'Web'">Meer dan gewoon websites. De cluster Web toont de mogelijkheden van webdesign -en development.</p><br>
    </div>

    <div class="timeslot">
        <input type="radio" id="motion" name="timetable" value="Motion" #motion (change)="onChange(motion.value)">
        <label for="motion">Motion</label>
        <span class="time">18:30</span>
        <p *ngIf="checkedInput == 'Motion'">Geen final show zonder spectaculaire visuals. De cluster Motion weet raad.</p><br>
    </div>

    <div class="timeslot">
        <input type="radio" id="manneken" name="timetable" value="Manneken pis" #manneken (change)="onChange(manneken.value)">
        <label for="manneken">Waar is manneken pis?</label>
        <span class="time">18:35</span>
        <p *ngIf="checkedInput == 'Manneken pis'">De conclusie van de epische saga...</p><br>
    </div>

    <div class="timeslot">
        <input type="radio" id="digital" name="timetable" value="Digital Making" #digital (change)="onChange(digital.value)">
        <label for="digital">Cluster Digital Making</label>
        <span class="time">18:40</span>
        <p *ngIf="checkedInput == 'Digital Making'">De artistieke kant van de opleiding. De cluster Digital Making.</p><br>
    </div>

    <div class="timeslot">
        <input type="radio" id="fresh" name="timetable" value="Fresh Awards" #fresh (change)="onChange(fresh.value)">
        <label for="fresh">Fresh Awards</label>
        <span class="time">18:45</span>
        <p *ngIf="checkedInput == 'Fresh Awards'">Elk succesverhaal heeft een begin. Een award voor het beste van onze eerstejaars!</p><br>
    </div>

    <div class="timeslot">
        <input type="radio" id="jurgen" name="timetable" value="Speech Jurgen Dedeckere" #jurgen (change)="onChange(jurgen.value)">
        <label for="jurgen">Speech Jurgen Dedeckere</label>
        <span class="time">18:50</span>
        <p *ngIf="checkedInput == 'Speech Jurgen Dedeckere'">Speech door ons opleidingshoofd Jurgen Dedeckere.</p><br>
    </div>

    <div class="timeslot">
        <input type="radio" id="super" name="timetable" value="Super Awards" #super (change)="onChange(super.value)">
        <label for="super">Super Awards</label>
        <span class="time">18:55</span>
        <p *ngIf="checkedInput == 'Super Awards'">Het beste van het beste. Eén project wordt bekroond met de Super Award!</p><br>
    </div>

    <div class="timeslot">
        <input type="radio" id="slot" name="timetable" value="Slot" #slot (change)="onChange(slot.value)">
        <label for="slot">Slot</label>
        <span class="time">19:00</span>
    </div>
</div>