<!DOCTYPE html>
<html lang="en">
<head>
    <!-- https://codemyui.com/scroll-icon-animation/ -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Final Show</title>
  <!-- <link rel="icon" type="image/png" href="./images/fav.png"/> -->
  <link rel="stylesheet" href="app.component.scss">
  <script src="https://kit.fontawesome.com/3f2d033088.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<router-outlet></router-outlet>

</html>
